<config>
  <global>
    <models>
      <dhsms>
        <class>Dhana_SMS_Model</class>
        <resourceModel>dhsms_resource</resourceModel>
      </dhsms>
      <dhsms_resource>
      	<class>Dhana_SMS_Model_Resource</class>
      	<entities>
      		<smsapi>
      			<table>sms_api_provider</table>
      		</smsapi>
      	</entities>
      </dhsms_resource>
    </models>
    <helpers>
      <dhsms>
        <class>Dhana_SMS_Helper</class>
      </dhsms>
    </helpers>
    <template>
      <sms>
        <sms_sales_order_template translate='label' module='sms'>
          <label>New Order</label>
          <file>sales/sms_new_order.txt</file>
          <type>text</type>
        </sms_sales_order_template>
      </sms>
    </template>
    <events>
      <sales_order_place_after>
        <observers>
          <dhsms>
            <type>model</type>
            <class>dhsms/observer</class>
            <method>sendOrderConfirmationSMS</method>
          </dhsms>
        </observers>
      </sales_order_place_after>
      <sales_order_shipment_save_commit_after>
        <observers>
          <dhsms>
            <type>model</type>
            <class>dhsms/observer</class>
            <method>salesOrderShipmentCompleted</method>
          </dhsms>
        </observers>
      </sales_order_shipment_save_commit_after>
      <sales_order_invoice_save_commit_after>
        <observers>
          <dhsms>
            <type>model</type>
            <class>dhsms/observer</class>
            <method>salesOrderInvoiceCompleted</method>
          </dhsms>
        </observers>
      </sales_order_invoice_save_commit_after>
    </events>
  </global>
  <default>
    <dhana_sms>
      <order>
        <enabled>1</enabled>
        <template>sms_sales_order_template</template>
        <guest_template>sms_sales_order_guest_template</guest_template>
        <identity>sales</identity>
      </order>
      <order_supp>
      	<enabled>1</enabled>
        <template>sms_sales_order_supp_template</template>
        <identity>sales</identity>
      </order_supp>
       <order_complete>
        <enabled>1</enabled>
        <template>sms_sales_order_delivery_complete_template</template>
        <guest_template>sms_sales_order_delivery_complete_template</guest_template>
        <identity>sales</identity>
      </order_complete>
    </dhana_sms>
  </default>
</config>
